@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

button {
    padding: 0px;
    background: none;
    border: none;
}

#header {
    background-color: black;    /* E6 = 90% opacity */
    height: 10vh; 
    font-family: "Raleway", sans-serif;
    color: white;
    padding-top: 10px;
}

#navbar * {
    margin: 0px 15px;
}

#user-info > *, #logo > * {
    margin: 0px 15px;
    color:#1DB954;
    
}
 

#logout {
  margin: 0px;
  text-align: center;
}

.green{
    color: #1DB954; /*turns the word 'tastes' to green*/
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    /*creates an outline around green text*/
   
   
}