/*
body * {
    outline: black solid 2px;
}
*/

html {
    min-height: 100%;
}

body {
    color: slategray;
    height: 100%;
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
    color: slategray;
}

a:hover {
    color: whitesmoke;
}

i.selected {
    color: whitesmoke;
}

.vertical-center {
    margin-top: auto;
    margin-bottom: auto;
}

#content {
    margin-top: 8vh;
    margin-bottom: 5vh;
    padding: 0px;
    min-height: 87vh;
}

.flash-box {
    background-color: coral;
    color: whitesmoke;
}

#centered-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}