{% extends "base.html" %}

{% block title %}MusicTastes - Index{% endblock %}

{% block content %}

	<div class="hero">
		<h1>Welcome to Music<span class="green">Tastes</span></h1>
	</div>

	<div class="link">
                <p><b>Want to see what you’ve been listening to? We can help you
             <span class="visua">visualise</span> it.</b>
             By signing in with Spotify it allows us to take
             the last 50 songs you have been listening to, 
             so we can visualise and cater for your listening.
            </p>

	        <button><a class="btn-teal" href="{{ auth_url }}">Visualise!</a></button>

        </div>

{% endblock %}