{% extends "base.html" %}

{%  block head %}
	{{ super() }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}MusicTastes - Data Visualisation{% endblock %}

{% block content %}

	<div id="vis-box" style="display: flex; height: inherit">
	{% for song in songs["items"] %}
		<button class="bar" type="button" id="menuButton" onmouseout="closeDrawer()" onmouseover="openDrawer(this);" data-track="{{ songsJson[song["track"]["id"]] }}"></button>
	{% endfor %}
	</div>

	<div id="drawer"  tabindex="-1" aria-disabled="true">
		<img id="track-image" src="#" alt="">
		<h1 id="track-name">Name</h1>
		<li id="track-artist">Artist</li>
		<li id="track-album">Album</li>
		<li id="track-date">Date Released</li>
		<li ><a href="#" id="track-link">Listen now on Spotify</a></li>
		
	</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/drawer.js') }}"></script>
<script src="{{ url_for('static', filename='js/vis.js') }}" charset="utf-8"></script>
{% endblock %}
