{% extends "base.html" %}

{% block title %}MySpotify - Data Visualisation{% endblock %}

{% block content %}

	{% for song in songs["items"] %}
	<p id="bars" style="background-color: #204E4A; width:{{song['track']['popularity']}}%">
		<button type="button" id="menuButton" onclick="openDrawer();" data-track="{{ song }}">{{ song["track"]["name"] }}</button>
	</p>
	{% endfor %}

	<div id="drawer" tabindex="-1" aria-disabled="true">
		<img id="track-image" src="#" alt="">
		<h1 id="track-name">Name</h1>
		<li id="track-artist">Artist</li>
		<li id="track-album">Album</li>
		<li id="track-date">Date Released</li>
		<li ><a href="#" id="track-link">Listen now on Spotify</a></li>
		
	</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/drawer.js') }}"></script>
<script src="{{ url_for('static', filename='js/vis.js') }}" charset="utf-8"></script>
{% endblock %}
