<!-- Navbar stuck at top -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}"/>
<div class="container-fluid fixed-top">
	<div id="header" class="row">
		<!-- <div id="logo" class="col-12 col-md-2 vertical-center d-flex justify-content-center justify-content-md-start"> -->
		<div id='logo' class="col-6">
			<i class="fas fa-music"></i> Music<span class="green">Tastes</span>
		</div>
		<!-- <div id="navbar" class="col vertical-center d-flex">
			<button><a href="{{ url_for('general_bp.index') }}">HOME</a></button>
		</div> -->
		{% if logged_in == True %}
		<!-- <div id="user-info" class="col-md-2 vertical-center justify-content-end d-flex"> -->
		<div class="col-6">
		   <div id="user-info">
			<button type="button" class="btn dropdown-toggle" id="user-profile" data-toggle="dropdown"><i class="fas fa-user"></i></button>    <!-- This should have a dropdown of user info -->
			<div class="dropdown-menu p-4 text-muted" aria-labelledby="user-profile" style="width: 300px;">
				<div class="container">
					<div class="row">
						<div class="col-4">
							<div class="img-box">
								<img src="{{ profile_pic }}" alt="">
							</div>
						</div>
						<div class="col vertical-center">
							{{ username }}
						</div>
					</div>
					<div class="dropdown-divider"></div>
					<a class="row dropdown-item text-muted" href="{{ url_for('general_bp.logout') }}" id="logout">
						Log Out
					</a>
				</div>
			</div>
		   </div>
		</div>
		{% endif %}
	</div>
</div>
